@import "tailwindcss";

:root {
  --bg-color: #f4f6fb;
  --fg-color: #111827;
  --panel-bg: rgba(255, 255, 255, 0.85);
  --panel-border: rgba(0, 0, 0, 0.1);
}

/* Dark mode (เตรียมไว้ก่อน ยังไม่ใส่ background) */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0f172a;
    --fg-color: #000000;
    --panel-bg: rgba(0, 76, 255, 0);
    --panel-border: rgba(0, 0, 0, 0.978);
  }
}

html,
body {
  width: 100%;
  height: 100%;

}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  background-image: url("/img/cat.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  body {
  background-image: url("/img/cat.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
}

.app-root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.app-card {
  width: 100%;
  max-width: 1100px;
  border-radius: 20px;
  padding: 12px;
}

.app-header {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  padding: 15px;
}

.app-title {
  font-size: 1.4rem;
}

.app-header span {
  font-size: 1rem;
}

.status-panel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .status-panel {
    grid-template-columns: 1fr 1fr;
  }
}


.status-box {
  background: linear-gradient(135deg, #7f1d1d, #000);
  border-radius: 16px;
  padding: 6px;
  text-align: center;
}

.status-label {
  font-size: 0.8rem;
  opacity: 0.7;
  color: #ffffff;
}

.status-value {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
}

.camera-wrap {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.camera-canvas {
  width: 68%;
  max-width: 900px;
  aspect-ratio: 4 / 3;
  border-radius: 15px;
  background: black;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.control-btn {
  padding: 12px 28px;
  border-radius: 999px;
  font-weight: 600;
  letter-spacing: 0.05em;
  border: 1px solid var(--panel-border);
  background: black;
  color: white;
  transition: all 0.2s ease;
}

.control-btn:hover {
  transform: scale(1.05);
  background: #111;
}

.control-btn.stop {
  background: #7f1d1d;
}
